.container_home{
    background: url('../../images/dog1-1920x1347.jpg') no-repeat 50% fixed;
}

.container_nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

.container_filters_and_cards{
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

.container_filters{
    background-color: salmon;
    width: 20vw;
}

.container_cards {
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
}

.container_paginado{
    background-color: blue;
}

.wrapper-card {
    flex: 0 1 24%;
}